html {
	min-width: 320px;
}

body{
	margin: 0;
}

div {
	padding: 15px;
}

div p {
	text-align: justify;
	font-size: 20px;
}

img { 
	max-width: 100%;
}

li {
	list-style-type: none;
}

ul {
	margin-left: 10px;
	padding-left: 10px;
	margin-right: 10px;
	padding-right: 10px;
}








@media only all and (max-width: 768px) {

	div p {
		text-align: justify;
		font-size: 25px;
	}


}


