html {
	min-width: 320px;
}

body{
	margin: 0;
}

div {
	padding: 15px;
}

div p {
	text-align: justify;
	font-size: 20px;
}

img { 
	max-width: 100%;
}








@media only all and (max-width: 768px) {

	div p {
		text-align: justify;
		font-size: 25px;
	}


}


